<div class="container">
  <div class="row">
    <div class="col-md-4">
      <label>Select a Project</label>
      <a
          *ngFor="let p of projects"
          routerLink="/notes-listing"
          [queryParams]="{ project: p.name }"
          class="list-group-item list-group-item-action"
          >
          {{ p.name }}
        </a>
        <a routerLink="/notes-create"  class="btn btn-danger">Create Note</a>
        <a routerLink="/notepad"  class="btn btn-danger">Create Project</a>

    </div>
<div class="col-md-4"  *ngFor="let f of filteredProjectNotes">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../../../../assets/project-image.jpg" alt="Project">
    <div class="card-body">
      <h5 class="card-title">{{f.project}}</h5>
      <p class="card-text">{{f.note}}</p>
      <a [routerLink]="['/notes-detail', f.id]" class="btn btn-primary">See Notes Details</a>
      <button class="btn btn-danger" (click)="delete(f.note)">Delete</button>
    </div>
  </div>
</div>




