<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-left-menu></app-left-menu>
    </div>
    <div class="col-md-8">
      <label>Select a Project</label>
      <a
          *ngFor="let p of projects"
          routerLink="/notes-listing"
          [queryParams]="{ project: p.name }"
          class="list-group-item list-group-item-action"
          >
          {{ p.name }}
          <button (click)=" $event.preventDefault(); $event.stopPropagation(); deleteProject(p.id)" class="btn btn-danger">Delete</button>
        </a>
        <div class="alert alert-success" role="alert" *ngIf="deleteMessage">
          Project deleted!
        </div>
      <div *ngFor="let f of filteredProjectNotes">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Note</th>
              <th scope="col">Date</th>
              <th scope="col">Project</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{f.id}}</th>
              <td>{{f.note}}</td>
              <td>{{f.date}}</td>
              <td>{{f.project}}</td>
              <td> <span><a [routerLink]="['/notes-detail', f.id]" class="btn btn-primary">See details</a>
              </span></td>
            </tr>
            <tr>

            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-md-2">
      <app-right-menu></app-right-menu>
    </div>
  </div>
</div>
