<div class="container">
  <div class="row">
    <div class="col-md-4">
      <label>Select a Project</label>
      <a
          *ngFor="let p of projects"
          routerLink="/notes-listing"
          [queryParams]="{ project: p.name }"
          class="list-group-item list-group-item-action"
          >
          {{ p.name }}
        </a>
        <a routerLink="/notes-create"  class="btn btn-danger">Create Note</a>
        <a routerLink="/notepad"  class="btn btn-danger">Create Project</a>

    </div>
<div class="col-md-4"  *ngFor="let f of filteredProjectNotes">
  <mat-card class="mat-elevation-z8">
    <p class="h1">Project {{f.project}}</p>

    <p class="h3">{{f.note}}</p>
    <p class="h5">{{f.date | date:'short'}}</p>
    <a [routerLink]="['/notes-detail', f.id]" class="btn btn-primary">See more details</a>
    <button mat-raised-button color="warn" (click)="delete(f.note)">Delete</button>
</mat-card>

</div>




