<div class="container">
  <div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <label for="title">Create a new project</label>
    <input class="form-control" formControlName="project"/>

    <button [disabled]="projectForm.invalid" mat-raised-button color="primary" type="submit">Submit</button>
  </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
<!-- <app-notes-listing [projects]="projects"></app-notes-listing>
 -->  </div>
</div>
</div>
